<mat-toolbar color="primary">
  <mat-icon>assignment</mat-icon>
  <span>Task Board</span>
</mat-toolbar>

<div class="content-wrapper">
  <div class="container-wrapper">
    <div class="container">
      <h2>Backlog</h2>

      <mat-card
        cdkDropList
        id="todo"
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <ng-container *ngIf="todo?.length !== 0; else emptyList">
          <app-task
            *ngFor="let task of todo"
            [task]="task"
            cdkDrag>
          </app-task>
        </ng-container>
      </mat-card>
    </div>

    <div class="container">
      <h2>Done</h2>

      <mat-card
        cdkDropList
        id="done"
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[todoList]"
        (cdkDropListDropped)="drop($event)"
        class="list">
        <ng-container *ngIf="done?.length !== 0; else emptyList">
          <app-task
            *ngFor="let task of done"
            [task]="task"
            cdkDrag>
          </app-task>
        </ng-container>
      </mat-card>
    </div>
  </div>
</div>

<button (click)="onAddTask()" class="add-btn" mat-fab>
  <mat-icon>add</mat-icon>
</button>

<ng-template #emptyList>
  There is no item.
</ng-template>
